<a href="https://colab.research.google.com/github/rselent/DS-Unit-2-Sprint-3-Applied-Modeling/blob/master/module2/2_3_2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

In [0]:
## Feature Dictionary:

## name                 Object full name
## a                    semi-major axis(au)
## e                    eccentricity
## i                    Inclination with respect to x-y ecliptic plane(deg)
## om                   Longitude of the ascending node
## w                    argument of perihelion
## q                    perihelion distance(au)
## ad                   aphelion distance(au)
## per_y                Orbital period(YEARS)
## data_arc             data arc-span(d)
## condition_code       Orbit condition code
## n_obs_used           Number of observation used
## H                    Absolute Magnitude parameter
## neo                  Near Earth Object
## pha                  Physically Hazardous Asteroid
## diameter             Diameter of asteroid(Km)
## extent               Object bi/tri axial ellipsoid dimensions(Km)
## albedo               geometric albedo
## rot_per              Rotation Period(h)
## GM                   Standard gravitational parameter, Product of mass and gravitational constant
## BV                   Color index B-V magnitude difference
## UB                   Color index U-B magnitude difference
## IR                   Color index I-R magnitude difference
## spec_B               Spectral taxonomic type(SMASSII)
## spec_T               Spectral taxonomic type(Tholen)
## G                    Magnitude slope parameter
## moid                 Earth Minimum orbit Intersection Distance(au)
## class                asteroid orbit class
## n                    Mean motion(deg/d)
## per                  orbital Period(d)
## ma                   Mean anomaly(deg)

In [0]:
## From personal (and discovered) knowledge -- Important Features to determine PHA

####    Prime Importance    ####

## condition_code           ## Orbit condition code, aka U-Uncertainty Parameter, 
                            ## is an integer between 0 and 9, indicating how well-
                            ## known an object's orbit is, where 0 is a very well-
                            ## known / predictable orbit. The higher this value,
                            ## the more dangerous an object potentially is
## neo (Near-Earth Object)  ## Any object is an NEO if its closest distance to
                            ## the Sun (perihelion) is < 1.3 AU (AU = Astronomical Unit, 
                            ## the mean distance between Earth and the Sun is 1 AU).
                            ## If an NEO's orbit cross the Earth's orbit at any point
                            ## (even if on the opposite end (for now)) and the NEO
                            ## has a diameter > 140m (or an Absolute Magnitude > 22), 
                            ## it is immediately considered a Potentially Hazardous 
                            ## Object (PHO). Furthermore, most PHOs are later
                            ## considered to be PHAs as well.
## moid (Earth Minimum Orbit Intersection Distance)
                            ## Measured in AU, this describes how close an object
                            ## (one which has a known trajectory/orbit) comes to 
                            ## Earth's orbital path around the Sun.
                            ## If < .05 AU, instant "oh fuck" upgrade
## class (Asteroid Orbit Class)
                            ## Describes an asteroid's class of orbit.
                            ## E.g., class MBA (Main-Belt Asteroid) asteroids are typically
                            ## constrained by the formula "2.0au < a < 3.2au; q > 1.666au", 
                            ## where a is the longest diameter of its elliptical orbit (semi-major axis)
                            ## and q is closest distance to its focus, the Sun (perihelion).
                            ## --> 14 Classes; needs Dictionary

####    Tangential    ####

## q (Perihelion Distance)  ## If < 1.3 AU, probably an NEO
## H (Absolute Magnitude)   ## Brightness of an asteroid. Used to determine its 
                            ## size. Mostly determined by IR light -- brighter = larger
                            ## asteroid, because the larger an object is, the more heat
                            ## it produces, regardless of surface color
## pha                      ## Target
## diameter                 ## If > 140m, is probably a PHA
                            ## --> Alternative Target, also

####    Interesting but Unnecessary, probably    ####

## BV     --\
## UB        \
## IR         -- Color Indicies and Taxonomies
## Spec_B    /              ## Used to identify object composition and structure
## Spec_T --/               ## --> Unnecessary as above 140m diameter, literally anything can be pha.
                            ## --> Although, composition can affect one aspect of the
                            ## --> Absolute Magnitude measurement... hmm....

In [0]:
import pandas as pd
import numpy as np

#from pydrive.auth import GoogleAuth                 ## Totally punching above my
#gauth = GoogleAuth()                                ## weight class here. Thank
#gauth.LocalWebserverAuth()                          ## you StackOverflow, lol
#drive = GoogleDrive(gauth)

#from pydrive.drive import GoogleDrive               ## Throwing errors though; will return later
#drive = GoogleDrive(gauth)
# Initialize GoogleDriveFile instance with file id.
#file6 = drive.CreateFile({'id': file5['id']})
#file6.GetContentFile('catlove.png') # Download file as 'catlove.png'.

In [0]:
# Share link: https://drive.google.com/file/d/1VWCCF-d_gVqr9FuKjtIU-gngghKDQEy9
#file_obj = drive.CreateFile({'id': '1VWCCF-d_gVqr9FuKjtIU-gngghKDQEy9'})
#file_obj.GetContentFile('Asteroids.csv')

In [18]:
df = pd.read_csv( 'Asteroids.csv')

df.shape

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,10,15,16,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(839714, 31)

In [0]:
## DtypeWarning: Columns (0,10,15,16,23,24) have mixed types

# 0  = name                asteroid's name
# 10 = condition_code      orbit condition code
# 15 = diameter            diameter of asteroid, in km
# 16 = extent              object's bi-/tri- axial ellipsoid dimensions, in km
# 23 = spec_B              spectral taxonomic type (SMASSII)
# 24 = spec_T              spectral taxonomic type (Tholen)

##      **  NEED TO CLEAN 10 and 15, that's it  **      ##

In [3]:
df.dtypes

name               object
a                 float64
e                 float64
i                 float64
om                float64
w                 float64
q                 float64
ad                float64
per_y             float64
data_arc          float64
condition_code     object
n_obs_used          int64
H                 float64
neo                object
pha                object
diameter           object
extent             object
albedo            float64
rot_per           float64
GM                float64
BV                float64
UB                float64
IR                float64
spec_B             object
spec_T             object
G                 float64
moid              float64
class              object
n                 float64
per               float64
ma                float64
dtype: object

In [4]:
df['condition_code'].value_counts()

0      540392
0       95711
9       23942
1       22193
5       19766
6       17103
7       15556
8       15474
4       15173
2       14541
1       10568
3        9430
9.0      7224
6.0      5804
2        5563
5        5336
7.0      4946
8.0      4347
3        3133
4        2490
E         154
D           1
Name: condition_code, dtype: int64

In [20]:
df.isnull().sum()

name              817747
a                      2
e                      0
i                      0
om                     0
w                      0
q                      0
ad                     6
per_y                  1
data_arc           15474
condition_code       867
n_obs_used             0
H                   2689
neo                    6
pha                16442
diameter          702078
extent            839696
albedo            703305
rot_per           820918
GM                839700
BV                838693
UB                838735
IR                839713
spec_B            838048
spec_T            838734
G                 839595
moid               16442
class                  0
n                      2
per                    6
ma                     8
dtype: int64

In [21]:
df['class'].value_counts()

MBA    747420
OMB     24715
IMB     17552
MCA     17354
APO     11759
AMO      8020
TJN      7385
TNO      3310
ATE      1601
CEN       488
AST        84
IEO        20
HYA         4
PAA         2
Name: class, dtype: int64

In [23]:
df['n'].describe()

count    8.397120e+05
mean     2.374145e-01
std      8.095014e-02
min      2.926897e-08
25%      1.900553e-01
50%      2.292228e-01
75%      2.675475e-01
max      2.381994e+00
Name: n, dtype: float64

In [25]:
df['per'].describe()

count    8.397080e+05
mean     2.505533e+03
std      9.213979e+04
min      1.511339e+02
25%      1.345555e+03
50%      1.570524e+03
75%      1.894184e+03
max      6.131733e+07
Name: per, dtype: float64

In [28]:
df['ma']

0          77.372096
1          59.699133
2          34.925016
3          95.861936
4         282.366289
             ...
839709    156.905910
839710     13.366251
839711    355.351127
839712     15.320134
839713     20.432959
Name: ma, Length: 839714, dtype: float64

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Read New York City property sales data
import pandas as pd
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

Your code starts here:

In [0]:
# Change column names: replace spaces with underscores

In [0]:
# Get Pandas Profiling Report

In [0]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)

In [0]:
# Q. What's the date range of these property sales in Tribeca?

In [0]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers

In [0]:
# Q. What is the maximum SALE_PRICE in this dataset?

In [0]:
# Look at the row with the max SALE_PRICE

In [0]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?

In [0]:
# Keep only the single units

In [0]:
# Q. Now what is the max sales price? How many square feet does it have?

In [0]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children.

In [0]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?

In [0]:
# What are the building class categories?
# How frequently does each occur?

In [0]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)

In [0]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE

In [0]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [0]:
# Look at sales for more than $35 million

# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?
# Is this dirty data?

In [0]:
# Make a judgment call:
# Keep rows where sale price was < $35 million

# Check how many rows you have now. (Should be down to 90 rows.)

In [0]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline

In [0]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.